body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#pokedex {
  min-height: 50vh;
  background-color: #fb6c6c;
  color: white;
  display: flex;
  padding: 24px;
}

.infoContainer {
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
  min-height: 100px;
  display: flex;
  justify-content: center;
}

.pokemonImg {
  width: 200;
  height: 200px;
  margin-top: -130px;
}
